[defaults]
# Default connection options that will be used if the relevant argument was omitted.

host = 127.0.0.1
port = 8123
db = default
user = default
password = 

# It's not secure to store the password here in plain text.

[main]
# Disable multiline mode by default
multiline = False

# Show SQL statements timing
timing = True

# Preferred data format for the interactive mode
format = PrettyCompactMonoBlock

# Preferred data format for the non-interactive mode (file/stdin)
format_stdin = TabSeparated

# Show the reformatted query after its execution
show_formatted_query = True

# Syntax highlighting
highlight = True

# Syntax highlight certain output in the interactive mode:
highlight_output = True

# Syntax highlighting in TrueColor (if supported, see https://gist.github.com/XVilka/8346728)
highlight_truecolor = True

# Show the output via pager (if defined)
pager = False

[http]

# Timeout for the connection to the ClickHouse HTTP server (in seconds)
conn_timeout = 10.0

# Amount of retries if the connection was timed out
conn_timeout_retry = 0

# A dynamic delay between retries (see "urllib3 Retry backoff_factor")
conn_timeout_retry_delay = 0.5


[settings]  
# You can place the server-side settings here!

# max_memory_usage = 20000000000
