[main]
# Enable multiline mode by default
multiline = False

# Show SQL statements timing
timing = True

# Preferred output format for the interactive mode
format = PrettyCompactMonoBlock

# Preferred output format for the non-interactive mode (file/stdin)
format_stdin = TabSeparated
